<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{%static 'css/brstyle.css'%}'>
    <title>Brain disease</title>
  
</head>

<body > 
   
      <div class="section">
        <div class="glassmorphic-card">
          <h1>Alzheimer</h1>
          <p>Alzheimer's disease is the most common type of dementia. It is a progressive disease beginning with mild memory loss and possibly leading to loss of the ability to carry on a conversation and respond to the environment. Alzheimer's disease involves parts of the brain that control thought, memory, and language.Although it's not known exactly what causes this process to begin, scientists now know that it begins many years before symptoms appear.
            As brain cells become affected, there's also a decrease in chemical messengers (called neurotransmitters) involved in sending messages, or signals, between brain cells.</p>
        </div>
        <img src="../static/img/imgb1.jpg" alt="Disease Image 1" class="section-image">
      </div>
    
      <!-- Section 2 -->
      <div class="section">
        <img src="../static/img/imgb2.jpg" alt="Disease Image 2" class="section-image">
        <div class="glassmorphic-card">
          <h1>Huntington's disease</h1>
          <p>Huntington's disease is a rare, inherited disease that causes the progressive breakdown (degeneration) of nerve cells in the brain. Huntington's disease has a wide impact on a person's functional abilities and usually results in movement, thinking (cognitive) and psychiatric disorders.
 Huntington's disease symptoms can develop at any time, but they often first appear when people are in their 30s or 40s. If the condition develops before age 20, it's called juvenile Huntington's disease. When Huntington's develops early, symptoms are somewhat different and the disease may progress faster.</p>
        </div>
      </div>
    <!-- Section 3 -->
    <div class="section">
        <img src="../static/img/imgb3.jpg" alt="Disease Image 2" class="section-image">
        <div class="glassmorphic-card">
          <h1>Parkinson's disease</h1>
          <p>Parkinson's disease is a progressive disorder that affects the nervous system and the parts of the body controlled by the nerves. Symptoms start slowly. The first symptom may be a barely noticeable tremor in just one hand. Tremors are common, but the disorder may also cause stiffness or slowing of movement.
In the early stages of Parkinson's disease, your face may show little or no expression. Your arms may not swing when you walk. Your speech may become soft or slurred. Parkinson's disease symptoms worsen as your condition progresses over time.</p>
        </div>
      </div>
      <div class="section">
        <img src="../static/img/imgb4.jpg" alt="Disease Image 2" class="section-image">
        <div class="glassmorphic-card">
          <h1>Motor Neuron disease</h1>
          <p>Motor neuron diseases (MNDs) are a group of progressive neurological disorders that destroy motor neurons, the cells that control skeletal muscle activity such as walking, breathing, speaking, and swallowing. This group includes diseases such as amyotrophic lateral sclerosis, progressive bulbar palsy, primary lateral sclerosis, progressive muscular atrophy, spinal muscular atrophy, Kennedy's disease, and post-polio syndrome.
            Messages or signals from nerve cells in the brain (upper motor neurons) are typically transmitted to nerve cells in the brain stem and spinal cord (lower motor neurons) and then to muscles in the body. Upper motor neurons direct the lower motor neurons to produce muscle movements.</p>
        </div>
      </div>
      <div class="section">
        <img src="../static/img/imgb5.jpeg" alt="Disease Image 2" class="section-image">
        <div class="glassmorphic-card">
          <h1>Multiple system atrophy</h1>
          <p>  Multiple system atrophy (MSA) is a progressive neurodegenerative disorder characterized by a combination of symptoms that affect both the central nervous system (which controls how a person moves), and the autonomic nervous system, which controls involuntary functions such as blood pressure or digestion. MSA was formerly known as Shy-Drager syndrome, olivopontocerebellar atrophy (OCPA), or striatonigral degeneration.
            The symptoms of MSA reflect the progressive loss of function and death of different types of nerve cells in the brain and spinal cord. </p>
        </div>
      </div>

    
    
</body>
</html>